<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @manga.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @manga.genre %>
</p>

<p>
  <strong>Mangaka:</strong>
  <%= @manga.mangaka %>
</p>

<p>
  <strong>Year:</strong>
  <%= @manga.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manga.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @manga.image_url %>
</p>

<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
