<%= form_with(model: kodomo, local: true) do |form| %>
  <% if kodomo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kodomo.errors.count, "error") %> prohibited this kodomo from being saved:</h2>

      <ul>
      <% kodomo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :mangaka %>
    <%= form.text_field :mangaka %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
