<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kodomo.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @kodomo.genre %>
</p>

<p>
  <strong>Mangaka:</strong>
  <%= @kodomo.mangaka %>
</p>

<p>
  <strong>Year:</strong>
  <%= @kodomo.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kodomo.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @kodomo.image_url %>
</p>

<%= link_to 'Edit', edit_kodomo_path(@kodomo) %> |
<%= link_to 'Back', kodomos_path %>
