<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shojo.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @shojo.genre %>
</p>

<p>
  <strong>Mangaka:</strong>
  <%= @shojo.mangaka %>
</p>

<p>
  <strong>Year:</strong>
  <%= @shojo.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shojo.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @shojo.image_url %>
</p>

<%= link_to 'Edit', edit_shojo_path(@shojo) %> |
<%= link_to 'Back', shojos_path %>
