<p id="notice"><%= notice %></p>

<h1>SEINENS</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Mangaka</th>
      <th>Year</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seinens.each do |seinen| %>
      <tr>
        <td><%= seinen.title %></td>
        <td><%= seinen.genre %></td>
        <td><%= seinen.mangaka %></td>
        <td><%= seinen.year %></td>
        <td><%= seinen.description %></td>
        <td><%= image_tag seinen.image_url, class: "img-fluid" %></td>
        <td><%= link_to 'Show', seinen %></td>
        <td><%= link_to 'Edit', edit_seinen_path(seinen) %></td>
        <td><%= link_to 'Destroy', seinen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seinen', new_seinen_path %>
