<header>
	

	<nav>
		<button 
        type="button">
	<%=link_to 'Accueil', root_path %>
	</button>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Shonen', mangas_path %>
		</button>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Shojo', shojos_path %>
		</button>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Kodomo', kodomos_path %>
		</button>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Seinen', seinens_path %>
		</button>

	</nav>
 </header>